body {
  width: 100%;
  overflow-x: hidden !important;
  font-size: 100%;
  font-family: 'OpenSans-Light, sans-serif';
  padding: 0;
  margin: 0;
  text-decoration: none;
  height: 100%;
  color: #3a3d48;
  background: #fff;
}
header {
  margin: 30px 50px;
  padding: 20px;
}
img.logo {
  width: 160px;
  height: 45px;
}
section.sec-frst .text-column {
  padding: 90px 0 30px 80px;
}
.heading h2 {
  font-size: 51px;
  padding-bottom: 20px;
}
.heading .desc {
  font-size: 32px;
  line-height: 120%;
  color: #535252;
}
.bottom-green {
  background: #6eaf0f;
  width: 100%;
  height: 2px;
  margin: 30px 0;
}
button.frst-btn {
  font-weight: 400;
  background: #6eaf0f;
  border: none;
  color: #fff;
  padding: 10px 20px;
  border-radius: 4px;
  font-size: 16px;
  cursor: pointer;
  margin-right: 30px;
}
button.scnd-btn {
  font-weight: 400;
  background: #e1191d;
  border: none;
  color: #fff;
  padding: 10px 20px;
  border-radius: 4px;
  font-size: 16px;
  cursor: pointer;
  margin-right: 30px;
}
button.read-btn {
  font-weight: 400;
  background: #333333;
  border: none;
  color: #fff;
  padding: 10px 20px;
  border-radius: 4px;
  font-size: 16px;
  cursor: pointer;
}
/* .phn-img-div {
  width: 790px;
  height: 735px;
  background-repeat: no-repeat;
  background-size: contain;
  background-image: url(../images/phone.png);
  position: relative;
  background-position: bottom right;
} */
.sect-divider {
  border: 0.3px solid #b2b2b2;
  height: 1px;
}
.wrapper {
  max-width: 1060px;
  margin: 0 auto;
}
.section {
  padding: 80px 0px;
}
.section p {
  font-size: 22px;
  line-height: 33px;
  font-weight: 100;
  padding-bottom: 15px;
}
.link-scroll {
  margin-top: 20px;
}
.link {
  color: #0083cf;
  cursor: pointer;
  font-size: 23px;
  text-decoration: none !important;
}
.section h2 {
  font-size: 34px;
  font-weight: 600;
  padding-bottom: 15px;
}
.gray-divider {
  background: #adadad;
  width: 75px;
  height: 2px;
  margin: 15px 0;
}
.history-img {
  margin: 0 auto;
  width: 700px;
}
.p-desc {
  font-size: 28px;
  font-style: normal;
  font-stretch: normal;
  letter-spacing: -0.6px;
  text-align: center;
  color: #5c5c5c;
  margin-bottom: 0;
}
ul {
  list-style-type: none;
}
.interest-steps {
  padding-left: 0;
  margin: 30px 0 0;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  width: 100%;
}
.interest-step {
  display: flex;
  flex-direction: column;
  align-items: center;
  list-style: none;
  margin: 0 auto;
  margin-bottom: 0px;
}
.interest-step-head {
  width: 107px;
  height: 107px;
  position: relative;
  background-color: #ffffff;
  overflow: hidden;
  margin-bottom: 17px;
}
.flex-centered {
  display: flex;
  align-items: center;
  justify-content: center;
}
svg {
  width: 75px;
  height: 75px;
}
.gif-img{
  width: 100%;
}
p.interest-step-description {
  font-size: 20px;
  line-height: 26px;
  font-weight: 100;
  text-align: center;
}
footer {
  width: 100%;
  padding: 60px 0 10px;
  background: #33363f;
  text-align: left;
  color: #fff;
}
img.footer-img {
  width: 160px;
}
p.interest-footer-text{
  padding: 35px 0px 10px;
  font-size: .87em;
  font-weight: 300;
  color: rgba(255,255,255,.7);
  line-height: 25px;
}
.interest-footer-links {
  color: #ffffff;
  display: flex;
  justify-content: center;
  margin: 0 auto 20px;
}
.interest-footer-link {
  font-size: 12px;
  color: rgba(255,255,255,.7);
}
.interest-footer-link:not(:last-child)::after {
  content: '';
  display: inline-block;
  width: 1px;
  height: 14px;
  vertical-align: middle;
  background-color: #ffffff;
  margin-left: 20px;
  margin-right: 20px;
}
.down{
  margin: 0;
  width: 100%;
  position: fixed;
  z-index: 998;
  height: 80px;
  background: rgba(255,255,255,.95);
  border-bottom: 1px solid #e5e5e5;
}
.down .logo-header , .form-head .logo-header{
  margin-left:20px;
}
.down .start-btn{
  display:block !important;
}
.form-head {
  margin: 0;
  width: 100%;
  top:0; 
  z-index: 998;
  height: 80px;
  background: rgba(255,255,255,.95);
  border-bottom: 1px solid #e5e5e5;
  position:sticky;
  padding: 10px;
}
div#close-btn {
  font-size: 22px;
  font-weight: 700;
  color: black;
  margin-right: 30px;
  margin-top: 10px;
  cursor: pointer;
}
.col-md-12.d-flex{
  justify-content: space-between;
}
button.start-btn {
  border: none;
  margin-right: 30px;
  color: #fff;
  padding: 10px 28px;
  border-radius: 4px;
  font-size: 18px;
  font-weight: 600;
  background: #4aa0e1;
  cursor: pointer;
}
button{
  outline: none !important;
}
div#reg-form {
  margin: 50px 0px;
}
.icon-list-icon svg {
  margin-left:18px;
  width: 50px;
  height: 60px;
}
img.gif-imgs {
  width: 75px;
}
li.icon-list-item{
  margin:15px 0px;
}
.col-md-6.reg-left {
  color: #777;
  padding: 40px;
}
#sign-up-page-title {
  font-size: 23px;
  padding-bottom: 30px;
  font-weight: 300;
  padding-top: 5px;
  line-height: 26px;
  padding-left: 73px;
}
.col-md-9.icon-list-txt {
  font-size: 18px;
}
.bottom-text {
  padding-left: 73px;
  margin-top: 30px !important;
  font-size: 16px;
  font-weight: 300;
}
.form-wrapper {
  height: 580px;
  padding: 35px 30px;
  display: inline-block;
  vertical-align: top;
  box-sizing: border-box;
  background-color: #fff;
  box-shadow: 0 10px 20px 0 rgb(0 0 0 / 10%);
}
h2.sign-up-title {
  font-size: 22px;
  margin-bottom: 10px;
  color: #2c2c2c;
  font-weight: 300;
}
.input-field {
  width: 100%;
  font-size: 16px;
  color: #777;
  line-height: 22px;
  outline:none !important;
  padding-bottom: 11px;
  background-color: transparent;
  border: none;
  border-bottom: 1px solid #ddd;
}
.input-wrapper {
  margin-top: 30px;
}
label.custom-checkbox-label {
  margin-top: 30px;
}
button.button-trading {
  margin-top: 40px;
  border-radius: 4px;
  width: 100%;
  background-color: #3f9adb;
  color: #fff;
  border: 1px solid #3f9adb;
  font-size: 18px;
  height: 50px;
  cursor: pointer;
}
.iti.iti--allow-dropdown {
  width: 100%;
}
.error-msg {
  color: red;
  font-size: 12px;
}
.faq li { padding: 20px; }

.faq li.q {
  background: #4FC2E;
  font-weight: bold;
  font-size: 120%;
  border-bottom: 1px #ddd solid;
  cursor: pointer;
}

.faq li.a {
  background: #4aa0e1;
  display: none;
  color:#fff;
}
.rotate {
  -moz-transform: rotate(90deg);
  -webkit-transform: rotate(90deg);
  transform: rotate(90deg);
}

@media (max-width: 768px){
  body{
    overflow-x: hidden !important;
    width: 100% !important;
  }
  .row{
    display:block !important;
  }
  .logo-img{
    width:200px !important;
  }
  .down{
    display: none !important;
  }
  .heading h2 {
    font-size: 54px;
    text-align: center;
  }
  section.sec-frst .text-column {
    padding: 0px 30px;
    max-width: 100%;
    margin: 0 auto;
}
.investing{
  width:100%;
}
h2,h1,p,section,header,footer,img{
  width:100%;
  overflow-x: hidden !important;
}
.heading .desc {
  line-height: unset;
}
  .amz-buttons{
    text-align: center;
    margin-bottom: 30px;
  }
  .wrapper {
    width: 100% !important;
    overflow-x: hidden !important;
    margin: 0px;
    padding:5px;
}
.section {
  padding: 30px 10px;
}
header{
  margin: 20px 0px;
}
.history-img {
  width:100%;
}
.interest-footer-links {
  display: block;
}
div#reg-form {
  margin: 0px 0px;
}
#sign-up-page-title {
  font-size: 24px;
  width: 100%;
  margin: 0 auto;
  padding: 0 0 20px;
  text-align: center;
}
.col-md-6.reg-left {
  padding: 40px;
  max-width: 100%;
}
.col-md-6.reg-right {
  max-width: 100%;
  margin: 0 auto;
}
.col-md-12.d-flex {
  justify-content: center;
}
}
@media (min-width: 320px) and (max-width: 479px) {
  .heading .desc{line-height: 32px;
    font-size: 26px;
    text-align: center;
  }
    .heading h2 {
      font-size: 44px;
      text-align: center;
  }
  button.frst-btn{margin-right: 0px; padding: 10px 15px;}
  button.scnd-btn{margin-right: 0px; padding: 10px 15px;}
  button.read-btn{padding: 10px 15px;}
  .link-scroll{text-align: center;}
  .section h2{text-align: center;}
  div#close-btn {
    margin-left: 40px;
    margin-right: 0px;
  }
  ul{padding:0;}
  .icon-list-icon{width: 30%; padding-left: 0;}
  .pt-3, .py-3{padding-top:0 !important;}
  .bottom-text{text-align: center;
  padding-left: 0;}
.q img{width:auto;}
}
@media (min-width: 769px) and (max-width: 1100px) {
  body{
    width: 100% !important;
    overflow-x: hidden !important;
  }
  .phoenix-item{padding:0;}
  .icon-list-icon{padding-left: 0;}
  .bottom-text{text-align: center;
    padding-left: 0;}
  .section {
    padding: 80px 40px;
  }
}

/* Register popup */

.popup-register {
  position: fixed;
  left: 50px;
  bottom: -255px;
  width: 270px;
  min-height: 170px;
  z-index: 100;
  background: #fff;
  box-shadow: 0px 2px 7px rgba(0, 0, 0, 0.25);
  border-radius: 19px;
  opacity: 0;
  padding: 22px 18px;
  transition-property: opacity, bottom, margin;
  transition-duration: 0.8s, 0.8s, 0.2s;
  padding: 22px 18px;
  cursor: default;
  font-family: 'OpenSans-Regular, sans-serif';
}

.popup-register img {
  width:auto;
  overflow-x: visible !important;
}

.popup-register.show {
  opacity: 1;
  bottom: 50px;
}

.popup-register .user-info {
  font-size: 14px;
  line-height: 20px;
  text-align: center;
  color: rgba(21, 25, 32, 0.81);
}

.popup-register .user-info .time-ago {
  white-space: nowrap;
}

.popup-register .user-info img {
  margin: 0 7px;
}

.popup-register .user-info .verified {
  display: flex;
  align-items: center;
  justify-content: center;
  line-height: 20px;
  white-space: nowrap;
  margin-top: 12px;
}

.popup-register .user-info .verified .tick_blue {
  height: 20px;
}

.popup-register .user-info .btn-register {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 14px auto;
  width: 218px;
  height: 40px;
  font-weight: 900;
  font-size: 16px;
  color: #fff;
  background: #3d3d3d;
  border-radius: 73px;
  text-decoration: none;
  text-transform: uppercase;
  border: none;
}

.popup-register .user-info .btn-register:hover {
  background-color: #747474;
}

@media (max-width: 370px) {
  .popup-register {
    left: 50%;
    transform: translate(-50%, 0);
  }
}

/* Traders Widget */
.tradingview-widget-copyright {
  display: none;
}